{% extends 'base.html' %}
{% block head %}
<title>Add Member</title>
{% endblock %}

{% block content %}
<center><h1>Add Member</h1></center>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <br>
</div>

{% endblock %}
