{% extends 'base.html' %}


{% block head %}
<h1>User Profile</h1>
{% endblock %}

{% block content %}
<div class="container">
<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
<th>Email</th>
<th>Phone</th>
<th>Bio</th>
</tr>
</thead>
<tbody>
{% for userProfile in object_list %}
<tr>
<td>{{ userProfile.user }}</td>
<td>{{ userProfile.dob }}</td>
<td>{{ userProfile.bio }}</td>
<td>{{ userProfile.city }}</td>
<td>{{ userProfile.phone }}</td>
<td>{{ userProfile.gender }}</td>
<td>{{ userProfile.image }}</td>
<td>
<a  href="{% url 'webSite:profile_details'  userProfile.id  %}">details</a>
</td>
</tr>

{% if user.userProfile.image %}
 <img src="{{ user.userProfile.image.url }}" width="240">
    {% endif %}
</div>
{% endfor %}
</tbody>
</table>

{% endblock %}