{% extends 'base.html' %}
{% block head %}
<title>Profile</title>
{% endblock %}

{% block content %}
<div class="container">
   <form method="get">
        {% csrf_token %}
        {{ form.as_p }}

   <h2>{{ user.get_full_name }} Profile Details </h2>
<!--   <h1>User Profile Details</h1>-->

<p>First name: {{object.user.first_name}}</p>
<p>Last name: {{object.last_name}}</p>
<p>Email: {{object.email}}</p>
<p>Address: {{user.profile.address}}</p>
<p>Dob: {{user.profile.dob}}</p>
<p>Bio: {{user.profile.bio}}</p>
<p>City: {{user.profile.city}}</p>
<p>Phone: {{user.profile.phone}}</p>
<p>Gender: {{user.profile.gender}}</p>
<p>Image: {{user.profile.image}}</p>

</div>
   </form>
{% endblock %}
