{% load i18n %}
<span class="input-group-addon btn default btn-file">
    <span class="fileinput-new"> {% trans "Select" %} <strong>{{ widget.btn_label }}</strong></span>
    <span class="fileinput-exists"> {% trans "Change" %} <strong>{{ widget.btn_label }}</strong></span>
    {% if widget.is_initial and  not widget.required %}
    <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
    {%endif%}
    <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
</span>
{% if not widget.required %}
<a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"
   {% if widget.is_initial %} onclick="document.getElementById('{{ widget.checkbox_id }}').checked = true;" {%endif%}> {% trans "Remove" %} </a>
{% endif %}