{% load i18n %}
<div>
<span class="btn red btn-outline btn-file">
    <span class="fileinput-new"> {% trans "Select" %} {{ widget.btn_label }} </span>
    <span class="fileinput-exists"> {% trans "Change" %} {{ widget.btn_label }}</span>
    {% if widget.is_initial and  not widget.required %}
        <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
    {%endif%}
    <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
</span>
{% if not widget.required %}
    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"
       {% if widget.is_initial %} onclick="document.getElementById('{{ widget.checkbox_id }}').checked = true;" {%endif%}
    > {% trans "Remove" %} </a>
{% endif %}
</div>