{% extends 'base.html' %}

{% block content %}
<div class="container">
   <center><h1>Welcome, Create Your Gym  </h1></center> <br>
      <center><h6>Login first or create an account if you don't have one</h6></center>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
</div>
{% endblock %}
