{% extends 'base.html' %}
{% block content %}
<h1>Company Details</h1>

<p>Name: {{object.name}}</p>
<p>Email: {{object.email}}</p>
<p>Address: {{object.address}}</p>
<p>Phone: {{object.phone}}</p>
{% endblock content %}