{% extends 'base.html' %}


{% block head %}
<title>Create Company </title>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Create an Awsome New Company</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <br>
</div>

{% endblock %}
