{% extends 'base.html' %}
{% block content %}
<h1>Delete Company?</h1>
<form  method="post">
{% csrf_token %}
Are you sure you want to delete this company?
<input  type="submit"  value="Submit"  />
</form>
{% endblock content %}