{% extends 'base.html' %}
{% block content %}
<h1>Company</h1>

<table>
<thead>
<tr>
<th>Name</th>
<th>Address</th>
<th>Email</th>
<th>Phone</th>
<th>Bio</th>
</tr>
</thead>
<tbody>

{% for b in object_list %}

<tr>
<td>{{ b.name }}</td>
<td>{{ b.address }}</td>
<td>{{ b.email }}</td>
<td>{{ b.phone }}</td>
<td>{{ b.bio }}</td>
<td>

</td>
</tr>
<tfoot>
<tr>
<td>
<button><a  href="{% url 'webSite:company_detail' b.id  %}">Details</a></button>
<button><a  href="{% url 'webSite:company_update'  b.id  %}">Edit</a><button>
<button><a  href="{% url 'webSite:company_delete'  b.id  %}">Delete</a><button>
</td>
</tr>
</tfoot>
{% endfor %}
</tbody>
</table>
{% endblock content %}