{% load i18n %}

<div class="clearfix">
    {% if can_view %}
        <a href="{% url view_url elm.id %}" class="btn btn-icon-only blue" title="{% trans 'Show' %}">
            <i class="fa fa-eye"></i>
        </a>
    {%endif%}
    {% if not elm.is_deleted %}
        {% if can_edit %}
            <a href="{% url edit_url elm.id %}" class="btn btn-icon-only yellow" title="{% trans 'Edit' %}">
                <i class="fa fa-edit"></i>
            </a>
        {%endif%}
        {% if can_delete %}
            <a href="javascript:;" class="delete_prm btn btn-icon-only red" title="{% trans 'Delete' %}"
               data-title="{% trans 'Delete' %}"
               data-confirmButtonText="{% trans 'Yes' %}"
               data-cancelButtonText="{% trans 'No' %}"
               data-text="{{messg_delete}}"
               data-popupTitleCancel="{% trans 'Cancelled' %}"
               data-actionForm="{% url delete_url elm.id %}"
            >
                <i class="fa fa-trash"></i>

            </a>
        {%endif%}
    {%endif%}
    {% if elm.is_deleted %}
        <a type="submit" class="restore_prm btn btn-icon-only green" title="{% trans 'REsend invitation' %}"
            href="javascript:;"
           data-title="{% trans 'Restore' %}"
           data-confirmButtonText="{% trans 'Yes' %}"
           data-cancelButtonText="{% trans 'No' %}"
           data-text="{{messg_restore}}"
           data-popupTitleCancel="{% trans 'Cancelled' %}"
           data-actionForm="{% url restore_url elm.id%}"
        >
            <i class="fa fa-undo"></i>
        </a>
    {%endif%}
</div>
