{% autoescape off %}
{% load i18n %}
<h4>
{% trans 'Hi' %} {{ user.account.name }}
</h4>
<p>
{% trans 'Please click on the link below to confirm your registration' %}:
<a href="http://{{ domain }}{% url 'accounts:user-activate' uidb64=uid token=token %}">
    {% trans 'link' %}
</a>
</p>
{% endautoescape %}