{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %} {% trans "View Gym Activities Info" %} {% endblock %}
{% block specific_css %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<!-- END PAGE LEVEL PLUGINS -->
{% endblock %}

{% block content %}
<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>{% trans "View Gym Activities " %}
                <small>{% trans "View Gym Activitiess" %}</small>
            </h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="{% url 'webSite:home' %}">{% trans "Home" %}</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="{% url 'webSite:gymactivities_list' %}">{% trans "Gym Activities List" %}</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">{{gymactivities.activity_name}}</span>

            </li>
        </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-6">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-building"></i>
                            <span class="caption-subject bold font-yellow-casablanca uppercase"> {% trans "Gym Activities" %} </span>
                        </div>

                    </div>
                    <div class="portlet-body">
                        <div class="row static-info">
                            <div class="col-md-5 name"> {% trans "Activity name" %}</div>
                            <div class="col-md-7 value"> {{gymactivities.activity_name}}
                            </div>
                        </div>

                        <div class="row static-info">
                            <div class="col-md-5 name"> {% trans "Activity class" %}</div>
                            <div class="col-md-7 value"> {{gymactivities.class_name}}
                            </div>
                        </div>

                        <div class="row static-info">
                            <div class="col-md-5 name"> {% trans "Activity schedule day" %}</div>
                            <div class="col-md-7 value"> {{gymactivities.schedule_day}}
                            </div>
                        </div>

                          <div class="row static-info">
                            <div class="col-md-5 name"> {% trans "Activity schedule time" %}</div>
                            <div class="col-md-7 value"> {{gymactivities.schedule_time}}
                            </div>
                        </div>

                           <div class="row static-info">
                            <div class="col-md-5 name"> {% trans "Activity max attendants" %}</div>
                            <div class="col-md-7 value"> {{gymactivities.max_attend}}
                            </div>
                        </div>

                          <div class="row static-info">
                            <div class="col-md-5 name"> {% trans "Active" %}</div>
                            <div class="col-md-7 value"> {{gymactivities.active}}
                            </div>
                        </div>

                          <div class="row static-info">
                            <div class="col-md-5 name"> {% trans "Activity instructor" %}</div>
                            <div class="col-md-7 value"> {{gymactivities.instructor}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--            <div class="col-md-6">-->
<!--                  <div class="portlet light">-->
<!--                    <div class="portlet-title">-->
<!--                        <div class="caption">-->
<!--                            <i class="fa fa-users"></i>-->
<!--                            <span class="caption-subject bold font-yellow-casablanca uppercase"> {% trans "Documents " %} </span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="portlet-body">-->
<!--                        <div class="row static-info">-->
<!--                            <div class="col-md-6 col-xs-4 col-lg-4 col-md-4  col-sm-4">-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="row static-info">
                            <div class="col-md-5 name">{% trans '' %} </div>
                            <div class="col-md-7 value"> </div>
                        </div>

                        <div class="row static-info">
                            <div class="col-md-5 name">{% trans '' %} </div>
                            <div class="col-md-7 value"> </div>
                        </div>

                        <div class="row static-info">
                            <div class="col-md-5 name"> {% trans '' %} </div>
                            <div class="col-md-7 value"> </div>
                        </div></div>

                    </div>
                </div>
        </div>
</div>
    <!-- END PAGE BASE CONTENT -->

<nav class="quick-nav">
    <a class="quick-nav-trigger" href="#0">
        <span aria-hidden="true"></span>
    </a>
    <ul>
        <li>
            <a href="" class="red">
                <span>{% trans "Edit" %}</span>
                <i class="fa fa-pencil"></i>
            </a>
        </li>
        <li>
            <a href="" class="default">
                <span>{% trans "Cancel" %}</span>
                <i class="fa fa-times"></i>
            </a>
        </li>
    </ul>
    <span aria-hidden="true" class="quick-nav-bg"></span>
</nav>
<div class="quick-nav-overlay"></div>

{% endblock %}
{% block specific_js %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static '../assets/pages/scripts/form-samples.min.js' % }" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../assets/global/plugins/bootstrap-fileinput/c" type="text/javascript"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="../assets/global/plugins/gmaps/gmaps.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script>
            $(document).ready(function()
            {
                $('#clickmewow').click(function()
                {
                    $('#radio1003').attr('checked', 'checked');
                });
            })
</script>

{% endblock %}
