{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Companies' %}{% endblock %}

{% block specific_css %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{% static 'assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet"
      type="text/css"/>
<!-- END PAGE LEVEL PLUGINS -->
<link href="{% static 'assets/apps/css/ticket.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>{% trans 'Gym Classes' %}
                <small>{% trans 'statistics, charts, recent events and reports' %}</small>
            </h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'webSite:home' %}">{% trans "Home" %}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span class="active">{% trans "Gym Classes" %}</span>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE BASE CONTENT -->

    <div class="tab-pane">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                     <div class="portlet-title">
<!--                        <div class="caption caption font-green">-->
<!--                                <div class="caption">-->
<!--                                    <i class="fa fa-users"></i>-->
<!--                                    <span class="caption-subject bold uppercase">{% trans 'Gym Classes List' %}</span>-->
<!--                                     <p>-->
<!--                              <font color="black">-->
<!--&lt;!&ndash;                                   <a href="{% url 'webSite:home' %}">&ndash;&gt;-->
<!--                                  {% for gymclass in object_list %}-->
<!--                                  <a href="{% url 'webSite:gymclasses_detail' gymclass.id  %}">{{ gymclass.class_name }} </a><br>-->
<!--                                  {% endfor %}-->
<!--                              </font>-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                        </div>-->
                         <div class="portlet-body">
                                                <div class="table-toolbar">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="btn-group">
                                                                <button id="sample_editable_1_new" class="btn green"> Add New
                                                                    <i class="fa fa-plus"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="btn-group pull-right">
                                                                <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                                                    <i class="fa fa-angle-down"></i>
                                                                </button>
                                                                <ul class="dropdown-menu pull-right">
                                                                    <li>
                                                                        <a href="javascript:;"> Print </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;"> Save as PDF </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;"> Export to Excel </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="sample_editable_1_wrapper" class="dataTables_wrapper no-footer">
                                                    <div class="row"><div class="col-md-6 col-sm-6">
                                                        <div class="dataTables_length" id="sample_editable_1_length">
                                                            <label>
                                                                <select name="sample_editable_1_length" aria-controls="sample_editable_1" class="form-control input-sm input-xsmall input-inline">
                                                                    {% for gymclass in object_list %}
                                                                      <option >{{ gymclass.no_of_classes }}</option>
                                                                    {% endfor %}
                                                                 </select> records
                                                            </label>
                                                        </div>
                                                    </div>
                                                        <div class="col-md-6 col-sm-6"><div id="sample_editable_1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control input-sm input-small input-inline" placeholder="" aria-controls="sample_editable_1"></label></div></div></div><div class="table-scrollable"><table class="table table-striped table-hover table-bordered dataTable no-footer" id="sample_editable_1" role="grid" aria-describedby="sample_editable_1_info">
                                                    <thead>
                                                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label=" Username : activate to sort column descending" style="width: 128px;"> Class Name </th><th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label=" Full Name : activate to sort column ascending" style="width: 145px;"> Class capacity </th><th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label=" Points : activate to sort column ascending" style="width: 88px;"> Class Participants </th><th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label=" Notes : activate to sort column ascending" style="width: 93px;"> Date of Creation</th><th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label=" Notes : activate to sort column ascending" style="width: 93px;"> Experition Date </th><th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label=" Edit : activate to sort column ascending" style="width: 63px;"> Active </th><th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label=" Notes : activate to sort column ascending" style="width: 93px;"> Belongs to Gym</th></tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for gymclass in object_list %}
                                                    <tr role="row" class="odd">
                                                            <td class="sorting_1">
                                                                <a href="{% url 'webSite:gymclasses_detail' gymclass.id  %}">{{ gymclass.class_name }} </a>
                                                            </td>
                                                           <td class="sorting_1">
                                                                {{ gymclass.class_capacity }}
                                                            </td>
                                                           <td class="sorting_1">
                                                                {{ gymclass.class_participants }}
                                                            </td>
                                                            <td class="sorting_1">
                                                                {{ gymclass.created_at }}
                                                            </td>
                                                                 <td class="sorting_1">
                                                                {{ gymclass.expiry_date }}
                                                            </td>
                                                                 </td>
                                                                 <td class="sorting_1">
                                                                {{ gymclass.active }}
                                                            </td>
                                                              </td>
                                                                 <td class="sorting_1">
                                                                {{ gymclass.belonging_gym }}
                                                            </td>
<!--                                                            <td>-->
<!--                                                                <a class="edit" href="javascript:;"> Edit </a>-->
<!--                                                            </td>-->
<!--                                                            <td>-->
<!--                                                                <a class="delete" href="javascript:;"> Delete </a>-->
<!--                                                            </td>-->
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table></div><div class="row"><div class="col-md-5 col-sm-5"><div class="dataTables_info" id="sample_editable_1_info" role="status" aria-live="polite">Showing 1 to 5 of 8 entries</div></div><div class="col-md-7 col-sm-7"><div class="dataTables_paginate paging_bootstrap_number" id="sample_editable_1_paginate"><ul class="pagination" style="visibility: visible;"><li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li class="next"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li></ul></div></div></div></div>
                                            </div>
                     </div>

                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>
{% endblock %}

{% block specific_js %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static 'assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}"
        type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script src="{% static 'assets/pages/scripts/table-datatables-managed.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/pages/actions.js' %}" type="text/javascript"></script>
<!-- CUSTOM SCRIPT-->
{% endblock %}
