{% load staticfiles %}
{% load i18n %}
{% with url=request.resolver_match.url_name  %}
    <li class="heading">
        <h3 class="uppercase">{% trans 'Menu' %}</h3>
    </li>
    <li class="nav-item {%if 'company' in url %} active open {% endif %}">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="fa fa-book"></i>
            <span class="title">{% trans 'Drop Down Menu' %}</span>

                 <span class="arrow"></span>
                  <li><a href="{% url 'webSite:home' %}">{% trans "Home" %}</a></li>
                  <li><a href="{% url 'webSite:company_list' %}">{% trans "Companies" %}</a></li>
                  <li><a href="{% url 'webSite:gym_list' %}">{% trans "Gyms" %}</a></li>
                  <li><a href="{% url 'webSite:gymclasses_list' %}">{% trans "Gym Classes" %}</a></li>
                  <li><a href="{% url 'webSite:gymactivities_list' %}">{% trans "Gym Activities" %}</a></li>




        </a>
        <ul class="sub-menu">
<!--             {% if perms.projects.view_project %}-->
            <li class="nav-item {%if 'companies' in url %} active {% endif %}">
                <a href="{% url 'webSite:company_list' %}" class="nav-link nav-toggle">
                    <span class="title">{% trans "Companies" %}</span>

                </a>
            </li>
             {% endif%}
        </ul>
    </li>
{%endwith%}
