{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load filter_tags %}
{% load show_error_forms%}

{% block title %}
        {% if project is None %}
                {% trans 'Add Project' %}
        {%endif%}
        {%if project is not  None %}
            {% trans 'Edit Project' %} {{project.name}}
        {%endif%}
{% endblock %}

{% block specific_css %}
<link href="{% static 'assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}"
      rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css' %}"
      rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/jquery-minicolors/jquery.minicolors.css' %}"
      rel="stylesheet" type="text/css"/>
<link href="{% static '/assets/global/css/components.min.css' %}"
      rel="stylesheet" id="style_components" type="text/css" />
<link href="{% static '/assets/global/css/plugins.min.css' }"
      rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>
                {% if project is None %}
                    {% trans 'Add Project' %}
                {%endif%}
                {%if project is not  None %}
                     {% trans 'Edit Project' %}
                     {{project.name}}
                {%endif%}
                <small>{% trans 'statistics, charts, recent events and reports' %}</small>
            </h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'accounts:home' %}">{% trans "home" %}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{% url 'accounts:promoter-list' %}">{% trans "Projects" %}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span class="active">
                {% if project is None %}
                    {% trans 'Add' %}
                {%endif%}
                {%if project is not  None %}
                 {{project.name}}
                {%endif%}
            </span>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="row">
        <form action="" class="" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="col-md-6">
                <!-- BEGIN Portlet PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-building"></i>
                            <span class="caption-subject bold font-yellow-casablanca uppercase"> {% trans "Project" %} </span>
                        </div>

                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                {% current_error form.errors.items 'name' as name_error %}
                                <div class="form-group form-md-line-input form-md-floating-label {% if name_error %} has-error {% endif %}">
                                    {{form.name}}
                                    <label class="">{% trans "Project Name" %} <span class="required"
                                                                                      aria-required="true">*</span></label>
                                    <span class="help-block">{% if name_error %} {{name_error}} {% else %} {{form.name.help_text}} {% endif %}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                {% current_error form.errors.items 'licence_number' as licence_number_error %}
                                <div class="form-group form-md-line-input form-md-floating-label {% if licence_number_error %} has-error {% endif %}">
                                    {{form.licence_number}}
                                    <label class="">{% trans "Project Licence" %} <span class="required"
                                                                                      aria-required="true">*</span></label>
                                    <span class="help-block">{% if licence_number_error %} {{licence_number_error}} {% else %} {{form.licence_number.help_text}} {% endif %}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                {% current_error form.errors.items 'licence_creation_date' as licence_creation_date_error %}
                                <div class="form-group form-md-line-input form-md-floating-label {% if licence_creation_date_error %} has-error {% endif %}">
                                    {{form.licence_creation_date}}
                                    <label class="">{% trans "Licence creation date" %} <span class="required"
                                                                                      aria-required="true">*</span></label>
                                    <span class="help-block">{% if licence_creation_date_error %} {{licence_creation_date_error}} {% else %} {{form.licence_creation_date.help_text}} {% endif %}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                {% current_error form.errors.items 'licence_purge_date' as licence_purge_date_error %}
                                <div class="form-group form-md-line-input form-md-floating-label {% if licence_purge_date_error %} has-error {% endif %}">
                                    {{form.licence_purge_date}}
                                    <label class="">{% trans "Licence purge date" %}</label>
                                    <span class="help-block">{% if licence_purge_date_error %} {{licence_purge_date_error}} {% else %} {{form.licence_purge_date.help_text}} {% endif %}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                {% current_error form.errors.items 'land_surface' as land_surface_error %}
                                <div class="form-group form-md-line-input form-md-floating-label {% if land_surface_error %} has-error {% endif %}">
                                    {{form.land_surface}}
                                    <label for="legal_form" class="">{% trans "Land surface" %}</label>
                                    <span class="help-block">{% if land_surface_error %} {{land_surface_error}} {% else %} {{form.land_surface.help_text}} {% endif %}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                {% current_error form.errors.items 'building_surface' as building_surface_error %}
                                <div class="form-group form-md-line-input form-md-floating-label {% if building_surface_error %} has-error {% endif %}">
                                    {{form.building_surface}}
                                    <label for="legal_form" class="">{% trans "Building surface" %}</label>
                                    <span class="help-block">{% if building_surface_error %} {{building_surface_error}} {% else %} {{form.building_surface.help_text}} {% endif %}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    {{form.description}}
                                    <label for="legal_form" class="">{% trans "Description" %}</label>
                                    <span class="help-block">{{form.description.help_text}}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-md-checkboxes">
                                    <div class="md-checkbox-inline">
                                        <div class="md-checkbox">
                                            {{ form.risk }}
                                            <label for="{{ form.risk.auto_id}}">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span> {% trans 'Risk' %} </label>
                                        </div>
                                        <div class="md-checkbox">
                                            {{ form.sntr_risk }}
                                            <label for="{{ form.sntr_risk.auto_id }}">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span> {% trans 'Sntr Risk' %} </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- END Portlet PORTLET-->
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                 <i class="fa fa-map-marker"></i>
                                <span class="caption-subject bold font-yellow-casablanca uppercase"> {% trans "Address" %} </span>
                            </div>

                        </div>
                        <div class="portlet-body">
                           <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    {{form.state}}
                                    <label class="">{% trans "State" %}</label>
                                    <span class="help-block">{{form.state.help_text}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    {{form.country}}
                                    <label class="">{% trans "Country" %} <span class="required"
                                                                                aria-required="true">*</span></label>
                                    <span class="help-block">{{form.country.help_text}}</span>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                {% current_error form.errors.items 'zip_code' as zip_code_error %}
                                <div class="form-group form-md-line-input form-md-floating-label {% if zip_code_error %} has-error {% endif %}">
                                    {{form.zip_code}}
                                    <label class="">{% trans "Zip Code" %} <span class="required"
                                                                                 aria-required="true">*</span></label>
                                    <span class="help-block">{% if zip_code_error %} {{zip_code_error}} {% else %} {{form.zip_code.help_text}} {% endif %}</span>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                {% current_error form.errors.items 'city' as city_error %}
                                <div class="form-group form-md-line-input form-md-floating-label {% if city_error %} has-error {% endif %}">
                                    {{form.city}}
                                    <label class="">{% trans "City" %} <span class="required"
                                                                             aria-required="true">*</span></label>
                                    <span class="help-block">{% if city_error %} {{city_error}} {% else %} {{form.city.help_text}} {% endif %}</span>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    {{form.street_number}}
                                    <label class="">{% trans "Street Number" %}</label>
                                    <span class="help-block">{{form.street_number.help_text}}</span>
                                </div>
                            </div>
                            {% current_error form.errors.items 'street' as street_error %}
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input form-md-floating-label {% if street_error %} has-error {% endif %}">
                                    {{form.street}}
                                    <label class="">{% trans "Street" %} <span class="required"
                                                                               aria-required="true">*</span></label>
                                    <span class="help-block">{% if street_error %} {{street_error}} {% else %} {{form.street.help_text}} {% endif %}</span>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        </div>
                    </div>
                    <!-- END Portlet PORTLET-->
                </div>
                <div class="col-md-12">
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-users"></i>
                                <span class="caption-subject bold font-yellow-casablanca uppercase"> {% trans "Documents" %} </span>
                            </div>

                        </div>
                        <div class="portlet-body">
                         <div class="row">
                            <div class="col-md-6">

                            </div>
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-9">
                                {% current_error form.errors.items 'licence_file' as licence_file_error %}
                                <div class="form-group {% if licence_file_error %} has-error {% endif %}">
                                    <div class="fileinput {% if project.licence_file.name %} fileinput-exists {%else%}fileinput-new{% endif %}" data-provides="fileinput">
                                        <div class="input-group input-large">
                                            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                <i class="fa fa-file-pdf-o fileinput-exists"></i>&nbsp;
                                                <span class="fileinput-filename"> {{ project.licence_file|short_name }} </span>
                                            </div>
                                            {{ form.licence_file }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                {% current_error form.errors.items 'cadastral_selections_file' as cadastral_file_error %}
                                <div class="form-group {% if cadastral_file_error %} has-error {% endif %}">
                                    <div class="fileinput {% if project.cadastral_selections_file.name %} fileinput-exists {%else%}fileinput-new{% endif %}" data-provides="fileinput">
                                        <div class="input-group input-large">
                                            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                <i class="fa fa-file-pdf-o fileinput-exists"></i>&nbsp;
                                                <span class="fileinput-filename"> {{ project.cadastral_selections_file|short_name }} </span>
                                            </div>
                                            {{ form.cadastral_selections_file }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        </div>
                    </div>
                    <!-- END Portlet PORTLET-->
                </div>
            </div>


            <div class="col-md-12">
                <!-- BEGIN Portlet PORTLET-->
                <div class="portlet light">
                    <div class="portlet-body">
                         <div class="form-actions ">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn green pull-right" style="margin-left: 0.75em;">{% trans "Submit" %}</button>
                                <a href="{{ request.META.HTTP_REFERER }}" type="button" class="btn default pull-right ">{% trans "Cancel" %}</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>
{% endblock %}

{% block specific_js %}

<script src="{% static 'assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/pages/scripts/components-date-time-pickers.js' %}" type="text/javascript"></script>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static 'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-minicolors/jquery.minicolors.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/pages/input_mask.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/pages/validations.js' %}" type="text/javascript"></script>

<script>
    $("#wheel-demo").minicolors();
</script>
{% endblock %}
