{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %} {% trans "View Notary Info" %} {% endblock %}
{% block specific_css %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{% static 'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css' %}" rel="stylesheet"
      type="text/css"/>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL STYLES -->
<link href="{% static 'assets/pages/css/profile-2.min.css' %}" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->
{% endblock %}
{% block content %}
<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <div class="page-title">
            <h1>{% trans 'My Profile' %}
                <small>{% trans 'user profile sample' %}</small>
            </h1>
        </div>
    </div>
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{% url 'accounts:home' %}">{% trans 'Home' %}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span class="active">{% trans 'My profile' %}</span>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="profile">
        <div class="tabbable-line tabbable-full-width">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1_3" data-toggle="tab"> {% trans "Account" %} </a>
                </li>
                <li>
                    <a href="#tab_1_6" data-toggle="tab">{% trans "Help" %} </a>
                </li>
            </ul>
            <div class="tab-content">

                {% if request.user.account.account_type ==  request.user.account.NOTARY_TYPE  %}
                {% include 'accounts/notary_profile_view.html' %}
                {%  endif %}

                {% if request.user.account.account_type ==  request.user.account.PROMOTER_TYPE  %}
                {% include 'accounts/promoter_profile_view.html' %}
                {%  endif %}

                {% if request.user.account.account_type ==  request.user.account.STAKEHOLDER_TYPE or request.user.account.account_type ==  request.user.account.BUYER_TYPE  %}
                {% include 'accounts/stakeholder_profile_view.html' %}
                {%  endif %}

                <div class="tab-pane" id="tab_1_6">
                    <div class="row">
                        <div class="col-md-2">
                            <ul class="ver-inline-menu tabbable margin-bottom-10">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab_1">
                                        <i class="fa fa-briefcase"></i>{% trans "General Questions" %}</a>
                                    <span class="after"> </span>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab_2">
                                        <i class="fa fa-group"></i>{% trans "Membership" %} </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab_3">
                                        <i class="fa fa-leaf"></i>{% trans "Terms Of Service" %} </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab_1">
                                        <i class="fa fa-info-circle"></i> {% trans "License Terms" %} </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab_2">
                                        <i class="fa fa-tint"></i> {% trans "Payment Rules" %} </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab_3">
                                        <i class="fa fa-plus"></i>{%trans "Other Questions" %} </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-10">
                            <div class="tab-content">
                                <div id="tab_1" class="tab-pane active">
                                    <div id="accordion1" class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion1" href="#accordion1_1"> 1. Anim pariatur
                                                        cliche reprehenderit, enim eiusmod high life accusamus terry
                                                        ? </a>
                                                </h4>
                                            </div>
                                            <div id="accordion1_1" class="panel-collapse collapse in">
                                                <div class="panel-body"> {% trans "Anim pariatur cliche reprehenderit,
                                                    enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt
                                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                                    on it squid single-origin coffee nulla assumenda shoreditch et.
                                                    Nihil anim keffiyeh helvetica, craft beer labore wes
                                                    anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                                                    denim aesthetic synth nesciunt you probably haven't
                                                    heard of them accusamus labore sustainable VHS." %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion1" href="#accordion1_2">{% trans "2. Anim
                                                        pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                        terry ?" %} </a>
                                                </h4>
                                            </div>
                                            <div id="accordion1_2" class="panel-collapse collapse">
                                                <div class="panel-body">{% trans "Food truck quinoa nesciunt laborum
                                                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                    squid single-origin coffee nulla assumenda shoreditch et. Anim
                                                    pariatur cliche reprehenderit,
                                                    enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                                    moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente
                                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable
                                                    VHS." %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion1" href="#accordion1_3"> 3. Food truck
                                                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor
                                                        ? </a>
                                                </h4>
                                                </h4>
                                            </div>
                                            <div id="accordion1_3" class="panel-collapse collapse">
                                                <div class="panel-body"> {% trans "Food truck quinoa nesciunt laborum
                                                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                    squid single-origin coffee nulla assumenda shoreditch et. Anim
                                                    pariatur cliche reprehenderit,
                                                    enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                                    moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente
                                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable
                                                    VHS." %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-warning">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion1" href="#accordion1_4"> 4. Wolf moon
                                                        officia aute, non cupidatat skateboard dolor brunch ? </a>
                                                </h4>
                                            </div>
                                            <div id="accordion1_4" class="panel-collapse collapse">
                                                <div class="panel-body">{% trans "3 wolf moon officia aute, non
                                                    cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                                    on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                                    vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable VHS." %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion1" href="#accordion1_5"> {% trans "5.
                                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                                                        ?" %} </a>
                                                </h4>
                                            </div>
                                            <div id="accordion1_5" class="panel-collapse collapse">
                                                <div class="panel-body">{% trans "3 wolf moon officia aute, non
                                                    cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                                    on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                                    vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable VHS.
                                                    Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                                    coffee nulla assumenda shoreditch et" %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion1" href="#accordion1_6">{% trans "6.
                                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                                                        synth ?" %}</a>
                                                </h4>
                                            </div>
                                            <div id="accordion1_6" class="panel-collapse collapse">
                                                <div class="panel-body">{% trans "3 wolf moon officia aute, non
                                                    cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                                    on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                                    vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable VHS.
                                                    Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                                    coffee nulla assumenda shoreditch et" %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion1" href="#accordion1_7">{% trans "7. Ad
                                                        vegan excepteur butcher vice lomo. Leggings occaecat craft ?"
                                                        %} </a>
                                                </h4>
                                            </div>
                                            <div id="accordion1_7" class="panel-collapse collapse">
                                                <div class="panel-body"> {% trans "3 wolf moon officia aute, non
                                                    cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                                    on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                                    vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable VHS.
                                                    Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                                    coffee nulla assumenda shoreditch et" %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab_2" class="tab-pane">
                                    <div id="accordion2" class="panel-group">
                                        <div class="panel panel-warning">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion2" href="#accordion2_1">{% trans "1. Anim
                                                        pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                        terry ?" %}</a>
                                                </h4>
                                            </div>
                                            <div id="accordion2_1" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <p> {% "Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                        accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                                        non cupidatat skateboard dolor brunch. Food truck quinoa
                                                        nesciunt
                                                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                                        bird on it squid single-origin coffee nulla assumenda shoreditch
                                                        et. Nihil anim keffiyeh helvetica, craft beer labore
                                                        wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                                        excepteur butcher vice lomo. Leggings occaecat craft beer
                                                        farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                        haven't heard of them accusamus labore sustainable VHS. </p>
                                                    <p> Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                        accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                                        non cupidatat skateboard dolor brunch. Food truck quinoa
                                                        nesciunt
                                                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                                        bird on it squid single-origin coffee nulla assumenda shoreditch
                                                        et. Nihil anim keffiyeh helvetica, craft beer labore
                                                        wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                                        excepteur butcher vice lomo. Leggings occaecat craft beer
                                                        farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                        haven't heard of them accusamus labore sustainable VHS." %} </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion2" href="#accordion2_2">{% trans "2. Anim
                                                        pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                        terry ?" %} </a>
                                                </h4>
                                            </div>
                                            <div id="accordion2_2" class="panel-collapse collapse">
                                                <div class="panel-body">{% trans " Food truck quinoa nesciunt laborum
                                                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                    squid single-origin coffee nulla assumenda shoreditch et. Anim
                                                    pariatur cliche reprehenderit,
                                                    enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                                    moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente
                                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable
                                                    VHS." %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion2" href="#accordion2_3">{% trans "3. Food
                                                        truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor
                                                        ?" %} </a>
                                                </h4>
                                            </div>
                                            <div id="accordion2_3" class="panel-collapse collapse">
                                                <div class="panel-body"> {% trans "Food truck quinoa nesciunt laborum
                                                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                    squid single-origin coffee nulla assumenda shoreditch et. Anim
                                                    pariatur cliche reprehenderit,
                                                    enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                                    moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente
                                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable
                                                    VHS." %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion2" href="#accordion2_4">{% trans "4. Wolf
                                                        moon officia aute, non cupidatat skateboard dolor brunch ?"
                                                        %} </a>
                                                </h4>
                                            </div>
                                            <div id="accordion2_4" class="panel-collapse collapse">
                                                <div class="panel-body">{% trans "3 wolf moon officia aute, non
                                                    cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                                    on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                                    vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable VHS." %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion2" href="#accordion2_5">{trans " 5.
                                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                                                        ?" %} </a>
                                                </h4>
                                            </div>
                                            <div id="accordion2_5" class="panel-collapse collapse">
                                                <div class="panel-body">{% trans " 3 wolf moon officia aute, non
                                                    cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                                    on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                                    vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable VHS.
                                                    Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                                    coffee nulla assumenda shoreditch et" %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion2" href="#accordion2_6">{% trans "6.
                                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                                                        synth ?" %} </a>
                                                </h4>
                                            </div>
                                            <div id="accordion2_6" class="panel-collapse collapse">
                                                <div class="panel-body">{%trans "3 wolf moon officia aute, non cupidatat
                                                    skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                    single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                                    vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable VHS.
                                                    Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                                    coffee nulla assumenda shoreditch et" %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion2" href="#accordion2_7"> 7. Ad vegan
                                                        excepteur butcher vice lomo. Leggings occaecat craft ? </a>
                                                </h4>
                                            </div>
                                            <div id="accordion2_7" class="panel-collapse collapse">
                                                <div class="panel-body">{% trans " 3 wolf moon officia aute, non
                                                    cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                                    on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                                    vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable VHS.
                                                    Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                                    coffee nulla assumenda shoreditch et" %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab_3" class="tab-pane">
                                    <div id="accordion3" class="panel-group">
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion3" href="#accordion3_1"> 1. Anim pariatur
                                                        cliche reprehenderit, enim eiusmod high life accusamus terry
                                                        ? </a>
                                                </h4>
                                            </div>
                                            <div id="accordion3_1" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <p>{% trans " Anim pariatur cliche reprehenderit, enim eiusmod high
                                                        life accusamus terry richardson ad squid. 3 wolf moon officia
                                                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                                                        nesciunt
                                                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                                        bird on it squid single-origin coffee nulla assumenda shoreditch
                                                        et. </p>
                                                    <p> Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                        accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                                        non cupidatat skateboard dolor brunch. Food truck quinoa
                                                        nesciunt
                                                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a
                                                        bird on it squid single-origin coffee nulla assumenda shoreditch
                                                        et. </p>
                                                    <p> Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                                        tempor, sunt aliqua put a bird on it squid single-origin coffee
                                                        nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                                        craft beer labore wes anderson cred nesciunt sapiente ea
                                                        proident. Ad vegan excepteur butcher vice lomo. Leggings
                                                        occaecat craft beer farm-to-table, raw denim aesthetic synth
                                                        nesciunt
                                                        you probably haven't heard of them accusamus labore sustainable
                                                        VHS." %} </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion3" href="#accordion3_2"> {% trans "2. Anim
                                                        pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                        terry ?" %} </a>
                                                </h4>
                                            </div>
                                            <div id="accordion3_2" class="panel-collapse collapse">
                                                <div class="panel-body"> {% trans Food truck quinoa nesciunt laborum
                                                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                    squid single-origin coffee nulla assumenda shoreditch et. Anim
                                                    pariatur cliche reprehenderit,
                                                    enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                                    moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente
                                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable" %}
                                                    VHS.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion3" href="#accordion3_3"> 3. Food truck
                                                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor
                                                        ? </a>
                                                </h4>
                                            </div>
                                            <div id="accordion3_3" class="panel-collapse collapse">
                                                <div class="panel-body">{% trans "Food truck quinoa nesciunt laborum
                                                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                                                    squid single-origin coffee nulla assumenda shoreditch et. Anim
                                                    pariatur cliche reprehenderit,
                                                    enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                                    moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente
                                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable
                                                    VHS." %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion3" href="#accordion3_4">{% trans " 4. Wolf
                                                        moon officia aute, non cupidatat skateboard dolor brunch ?"
                                                        %} </a>
                                                </h4>
                                            </div>
                                            <div id="accordion3_4" class="panel-collapse collapse">
                                                <div class="panel-body">{% trans "3 wolf moon officia aute, non
                                                    cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                                    on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                                    vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable VHS." %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion3" href="#accordion3_5"> 5. Leggings
                                                        occaecat craft beer farm-to-table, raw denim aesthetic ? </a>
                                                </h4>
                                            </div>
                                            <div id="accordion3_5" class="panel-collapse collapse">
                                                <div class="panel-body">{% trans "3 wolf moon officia aute, non
                                                    cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                                    on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                                    vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable VHS.
                                                    Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                                    coffee nulla assumenda shoreditch et" %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion3" href="#accordion3_6">{% trans "6.
                                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                                                        synth ?" %} </a>
                                                </h4>
                                            </div>
                                            <div id="accordion3_6" class="panel-collapse collapse">
                                                <div class="panel-body"> {% trans "3 wolf moon officia aute, non
                                                    cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                                    on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                                    vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable VHS.
                                                    Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                                    coffee nulla assumenda shoreditch et" %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse"
                                                       data-parent="#accordion3" href="#accordion3_7"> 7. Ad vegan
                                                        excepteur butcher vice lomo. Leggings occaecat craft ? </a>
                                                </h4>
                                            </div>
                                            <div id="accordion3_7" class="panel-collapse collapse">
                                                <div class="panel-body">{% trans "3 wolf moon officia aute, non
                                                    cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                                    laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                                    on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                                    beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                                    vegan excepteur butcher vice lomo. Leggings occaecat
                                                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                                    probably haven't heard of them accusamus labore sustainable VHS.
                                                    Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                                                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                                    coffee nulla assumenda shoreditch et" %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end tab-pane-->
            </div>
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>

{% endblock %}
{% block specific_js %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static '../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js' %}"
        type="text/javascript"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="{% static '../assets/global/plugins/gmaps/gmaps.min.js' %}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script>
            $(document).ready(function()
            {
                $('#clickmewow').click(function()
                {
                    $('#radio1003').attr('checked', 'checked');
                });
            })

</script>

{% endblock %}