{% load staticfiles %}
{% load i18n %}
{% load show_error_forms%}

<div id="tab_3-3" class="tab-pane">

    <form action="{% url 'accounts:user-change-password' %}" class="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label">{% trans 'Current Password' %}</label>

            {{ password_form.old_password}}

        </div>
        <div class="form-group">
            <label class="control-label">{% trans 'New Password' %}</label>
            {{ password_form.new_password1 }}
        </div>
        <div class="form-group">
            <label class="control-label">{% trans 'Re-type New Password' %}</label>
            {{ password_form.new_password2 }}
        </div>
        <div class="margin-top-10">
            <button type="submit" class="btn green pull-right" class="btn green"> {% trans "SAVES CHANGES" %}</button>
            <a href="{% url 'accounts:home'   %}" class="btn default pull-right">{% trans 'Cancel' %} </a>
        </div>
    </form>
</div>
<div id="tab_4-4" class="tab-pane">
    <form action="{% url 'accounts:user-change-privacy-settings'  %}" method="POST" class="">
        {% csrf_token %}
        <div class="mt-radio-inline">
            <table class="table table-bordered table-striped">
                <tr>
                    <td> {% trans "Would you like to receive emails ?" %}</td>
                    <td>
                        <div class="mt-radio-inline">
                            <label class="mt-radio">
                                {{ps_form.receive_email}}
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td> {% trans "Would you like to receive IMS ?" %}</td>
                    <td>
                        <div class="mt-radio-inline">
                            <label class="mt-radio">
                                {{ps_form.receive_message}}
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!--end profile-settings-->
        <div class="margin-top-10">
            <button type="submit" class="btn green pull-right" class="btn green"> {% trans "Saves changes" %}</button>
            <a href="{% url 'accounts:home'   %}" class="btn default pull-right">{% trans "Cancel" %} </a>
        </div>
    </form>
</div>
