{% extends 'base.html' %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'webSite:choices' gymclasses_id.id %}<h1>{{ gymclasses.class_name }}</h1>
" method="post">
{% csrf_token %}
{% for activities in gymclasses.choice_set.all %}
    <input type="radio" name="activities" id="activities{{ forloop.counter }}" value="{{ activities.id }}">
    <label for="activities{{ forloop.counter }}">{{ activities.activity_choice }}</label><br>
{% endfor %}
<input type="submit" value="Submit">
</form>
{% endblock content %}