{% load static %}
<h1>{{ gymclasses.class_name }}</h1>

<ul>
{% for choice in gymclasses.choice_set.all %}
    <li>{{ activities.activity_choice }} -- {{ activities.choices }} vote{{ activities.choices|pluralize }}</li>
{% endfor %}
</ul>

<a href="{% url 'activities:detail' gymclasses.id %}">Choose again?</a>
