{% load staticfiles %}
{% load i18n %}
<!-- BEGIN HEAD -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% trans "Metronic Admin Theme #4 | User Login 5" %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="Preview page of Metronic Admin Theme #4 for " name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{% static 'assets/global/plugins/select2/css/select2.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{% static 'assets/global/css/components-md.css' %}" rel="stylesheet" id="style_components" type="text/css"/>
    <link href="{% static 'assets/global/css/plugins-md.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="{% static 'assets/pages/css/login-5.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<body class=" login">
<!-- BEGIN : LOGIN PAGE 5-1 -->
<div class="user-login-5">
    <div class="row bs-reset">
        <div class="col-md-6 bs-reset mt-login-5-bsfix">
            <div class="login-bg" style="background-image:url({% static 'assets/pages/img/login/bg1.jpg' %})">
                <img class="login-logo" src="{% static 'assets/pages/img/login/logo.png' %}"/></div>
        </div>
        <div class="col-md-6 login-container bs-reset mt-login-5-bsfix">
            <div class="login-content">

                <h1>{% trans "Metronic Admin Login" %}</h1>
                <p> {% trans "Lorem ipsum dolor sit amet, coectetuer adipiscing elit sed diam nonummy et nibh euismod aliquam erat volutpat. Lorem ipsum dolor sit amet, coectetuer adipiscing." %} </p>
                <div class="errors">
                    {% for item in form.errors.items%}
                    <li>{{item}}</li>
                    {%endfor%}
                </div>

                <form action="{% url 'login' %}" class="login-form" method="post">
                    {% csrf_token %}
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        <span>{% trans "Enter any username and password." %}</span>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{form.username}}
                        </div>
                        <div class="col-xs-6">
                            {{form.password}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="rem-password">
                                <label class="rememberme mt-checkbox mt-checkbox-outline">
                                    <input type="checkbox" id="rememberme" name="remember" value="1"/>
                                    {% trans "Remember me" %}
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-8 text-right">
                            <div class="forgot-password">
                                <a href="javascript:;" id="forget-password" class="forget-password">{% trans "Forgot Password?" %}</a>
                            </div>
                            <button class="btn green" type="submit">{% trans "Sign In" %}</button>
                        </div>
                    </div>
                </form>


                <!-- BEGIN FORGOT PASSWORD FORM -->
                <form class="forget-form" action="" method="post">
                    {% csrf_token %}
                    <h3 class="font-green">{% trans "Forgot Password ?" %}</h3>
                    <p>{% trans " Enter your e-mail address below to reset your password." %} </p>
                    <div class="form-group">
                        {{res_pwd_form.email}}
                    </div>
                    <div class="form-actions">
                        <button type="button" id="back-btn" class="btn green btn-outline">{% trans "Back" %}</button>
                        <button type="submit" class="btn btn-success uppercase pull-right">{% trans "Submit" %}</button>
                    </div>
                </form>



                <!-- END FORGOT PASSWORD FORM -->
            </div>
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-5 bs-reset">
                        <ul class="login-social">
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-social-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-7 bs-reset">
                        <div class="login-copyright text-right">
                            <p>Copyright &copy; ATS 2019</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END : LOGIN PAGE 5-1 -->
<!--[if lt IE 9]>
<script src="{% static 'assets/global/plugins/respond.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/excanvas.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/ie8.fix.min.js' %}"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="{% static 'assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.js' %}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static 'assets/global/plugins/jquery-validation/js/jquery.validate.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-validation/js/additional-methods.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/select2/js/select2.full.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/backstretch/jquery.backstretch.js' %}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{% static 'assets/global/scripts/app.js' %}" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static 'assets/pages/scripts/login-5.js' %}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<!-- END THEME LAYOUT SCRIPTS -->
<script>
    $(document).ready(function()
    {
        $('#clickmewow').click(function()
        {
            $('#radio1003').attr('checked', 'checked');
        });
    })

</script>
</body>

</html>
<!--
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}

    <div>{% trans "Login" %}</div>
    &lt;!&ndash; /.frm-title &ndash;&gt;
    <div>{{form.username}}</div>
    &lt;!&ndash; /.frm-input &ndash;&gt;
    <div>{{form.password}}</div>
    &lt;!&ndash; /.frm-input &ndash;&gt;
  &lt;!&ndash;  <input type="checkbox" id="rememberme"><label for="rememberme">{% trans "Remember me" %}</label>&ndash;&gt;
    &lt;!&ndash; /.pull-left &ndash;&gt;
    <a href="">{% trans "Forgot Password?" %}</a>
    &lt;!&ndash; /.pull-right &ndash;&gt;
    &lt;!&ndash; /.clearfix &ndash;&gt;
    <button type="submit">{% trans "Login" %}</button>
    <br/>
    <br/>
    <div class="errors">
        {% for item in form.errors.items%}
        <li>{{item}}</li>
        {%endfor%}
    </div>
</form>
-->
