{% load staticfiles %}
<!--[if lt IE 9]>
<script src="{% static 'assets/global/plugins/respond.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/excanvas.min.js' %}"></script>
<script src="{% static 'assets/global/plugins/ie8.fix.min.js' %}"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="{% static 'assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-toastr/toastr.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js' %}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->

<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{% static 'assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static 'assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.input-ip-address-control-1.0.min.js' %}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static 'assets/pages/scripts/form-input-mask.min.js' %}" type="text/javascript" ></script>
<!-- END PAGE LEVEL SCRIPTS -->


<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{% static 'assets/pages/scripts/ui-toastr.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/layout/scripts/layout.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/layout/scripts/demo.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/global/scripts/quick-sidebar.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/layouts/global/scripts/quick-nav.min.js' %}" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->

{% if messages %}
    {% for message in messages %}
            {% if message.tags == 'info'  %}
                <script>
                $(document).ready(function() {
                    toastr.info("{{message}}");
                });
            </script>
            {% endif %}
            {% if message.tags == 'success'  %}
                    <script>
                    $(document).ready(function() {
                        toastr.success("{{message}}");
                    });
                </script>
                {% endif %}
            {% if message.tags == 'warning'  %}
                    <script>
                    $(document).ready(function() {
                        toastr.warning("{{message}}");
                    });
                </script>
                {% endif %}
            {% if message.tags == 'error'  %}
                    <script>
                    $(document).ready(function() {
                        toastr.error("{{message}}");
                    });
                </script>
                {% endif %}
    {% endfor %}
{%endif%}