{% load staticfiles %}
{% load i18n %}
<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
<li class="dropdown dropdown-user dropdown-dark">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
       data-close-others="true">
        <span class="username username-hide-on-mobile"> {{request.user.username}}</span>
        <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
        {%if request.user.user_profîle.image %}
            <img alt="" class="img-circle" src="{{ request.user.get_avatar }}"/> </a>
        {%else%}
            <img alt="" class="img-circle" src="{% static 'assets/layouts/layout/img/avatar9.jpg' %}"/> </a>
        {%endif%}
    <ul class="dropdown-menu dropdown-menu-default">

        <li>
            <a href="{{ request.user.user_profîle.resolve_profile_url }}">
                <i class="icon-user"></i> {% trans "My Profile" %} </a>
        </li>
        <li>
            <a href="app_inbox.html">
                <i class="icon-envelope-open"></i> {% trans "My Inbox" %}
                <span class="badge badge-danger"> 3 </span>
            </a>
        </li>
        <li>
            <a href="app_todo_2.html">
                <i class="icon-rocket"></i> {% trans "My Tasks" %}
                <span class="badge badge-success"> 7 </span>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="{% url 'logout' %}">
                <i class="icon-key"></i> {% trans "Log Out" %} </a>
        </li>
    </ul>
</li>