{% extends 'base.html' %}
{% block content %}
<h1>User Gym Details</h1>
<p>Gym Name: {{object.name}}</p>
<p>Owner Name: {{object.user}}</p>
<p> Gym belongs to this copany: {{object.company}}</p>
<p>Gym Address: {{object.address}}</p>
{% endblock content %}