{% extends 'base.html' %}
{% block content %}
<h1>Gym </h1>
<br><br>
<table>
<thead>
<tr>
<th>User</th>
<th>Company</th>
<th>Address</th>
</tr>
</thead>
<tbody>
{% for gym in object_list %}
<tr>
<td>{{ gym.name }}</td>
<td>{{ gym.user }}</td>
<td>{{ gym.company }}</td>
<td>{{ gym.address }}</td>
<td>
<a  href="{% url 'webSite:gym_details'  gym.id  %}">details</a>

</td>
</tr>

{% endfor %}
</tbody>
</table>
{% endblock content %}